/* Josh W Comeau's CSS Reset, condensed joshwcomeau.com */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
body {line-height: 1.5;text-align: center;text-rendering: optimizeLegibility;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}

/* Sebastiano Guerriero Typography System */
:root {
    --font-primary: "artifex-hand-cf", helvetica, arial, sans-serif;
    --font-secondary: "artifex-hand-cf", helvetica, arial, sans-serif;

    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* line-height */
    --heading-line-height: 1.5;
    --body-line-height: 1.5;
}
@include breakpoint(md) {
    :root {
        --text-base-size: 1em;
        --text-scale-ratio: 1.25;
    }
}
body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--color-text);
}
h1, h2, h3, h4, form legend {
    color: var(--color-text-heading);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
}
/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}
h2, .text--xl {
    font-size: var(--text-xl);
}
h3, .text--lg {
    font-size: var(--text-lg);
    font-family: var(--font-secondary);
}
h4, .text--md {
    font-size: var(--text-md);
    font-family: var(--font-secondary);
}
.text--sm, small {
    font-size: var(--text-sm);
}
.text--xs {
    font-size: var(--text-xs);
}
p {
    line-height: var(--body-line-height);
}
b, strong {
    font-weight: bold;
}
.text-container {
    h2, h3, h4 {
        margin-top: var(--space-sm);
    }
    
    ul, ol, p {
        margin-bottom: var(--space-md);
    }

    ul, ol {
        list-style-position: outside;
        padding-left: 24px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul li, ol li {
        line-height: var(--body-line-height);
    }
    
    em {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }
}
/* utility classes */
.truncate {
    // truncate text if it exceeds parent
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 
Artifex Hand CF Extra Light
font-family: "artifex-hand-cf", sans-serif;
font-weight: 200;
font-style: normal;

Artifex Hand CF Extra Light Italic
font-family: "artifex-hand-cf", sans-serif;
font-weight: 200;
font-style: italic;

Artifex Hand CF Book
font-family: "artifex-hand-cf", sans-serif;
font-weight: 500;
font-style: normal;

Artifex Hand CF Book Italic
font-family: "artifex-hand-cf", sans-serif;
font-weight: 500;
font-style: italic;

Artifex Hand CF Extra Bold
font-family: "artifex-hand-cf", sans-serif;
font-weight: 800;
font-style: normal;

Artifex Hand CF Extra Bold Italic
font-family: "artifex-hand-cf", sans-serif;
font-weight: 800;
font-style: italic;
*/

body {background: #1f4946;}
.main {background: #1f4946 repeat url(images/background.png) center center;}
header {
	padding: 2em 1.5em 3em 1.5em;
	color: white;
	margin: 0 auto;
	max-width: 50em;
}
h1 {
    font-family: var(--font-primary);
    font-size: 2em;
	font-weight: 800;
	color: #ffc7b4;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0,0,0,.25);
	padding-bottom: 17em;
}
h1 em {
    font-family: var(--font-primary);
	font-weight: 200;
	font-style: normal;
	color: #1d1d1d;
}
.slideshow {
	animation-name: slideshow;
	animation-direction: normal;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
	animation-duration: 25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	background: url(images/hero_1.png);
}
@keyframes slideshow {
	0% {background: url(images/hero_1.png);background-repeat: no-repeat;background-position: center 70%;}
	25% {background: url(images/hero_2.png);background-repeat: no-repeat;background-position: center 70%;}
	50% {background: url(images/hero_3.png);background-repeat: no-repeat;background-position: center 70%;}
	75% {background: url(images/hero_4.png);background-repeat: no-repeat;background-position: center 70%;}
	100% {background: url(images/hero_5.png);background-repeat: no-repeat;background-position: center 70%;}
}


/* bio */
.bio {
	background-color: #1e3d3b;
}
.bio p {
	max-width: 50em;
	padding: 2em 1em;
	margin: 0 auto;
	text-align: center;
}
.bio p {
	color: #ffc7b4;
}

/* little tree */
.bonsai {
	max-width: 50em;
	display: grid;
    padding: 1em 0;
    column-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat (2, 1fr)
    align-items: top;
}

.bicon {
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	border: 1px solid black;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}
.binfo {
	grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 1;
	grid-row-end: 3;
}
.iconlink h4 {
	font-size: var(--text-md);
}
.iconlink h4 em {
	font-style: normal;
	font-weight: normal;
	display: block;
	font-size: var(--text-sm);
}
.iconlink p {
	font-size: var(--text-sm);
	padding-top: 0.75em;
}
.iconlink ul {
	grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
	grid-row-end: 3;
	list-style: none;
	padding: 0 0 0 2em;
	border-left: 1px solid rgba(255,199,180,0.1);
	font-size: var(--text-sm);
}
.iconlink ul li {
	padding: 0 0 .75em 0;
}
.iconlink {
	display: block;
	padding: 1em;
	color: #ffc7b4;
	text-decoration: none;
	border-bottom: 1px solid #1e3d3b;
}
.iconlink:hover {
	background-color: #1a3533;
	color: white;
}
.iconlink:hover .bicon {
	border: 1px solid white;
}
.content a {
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-template-rows: auto;
    row-gap: .5em;
    justify-content: center;
    justify-items: baseline;
    align-items: start;
}


/* Formness */
fieldset {
	font-size: var(--text-md);
	border: none;
	max-width: 50em;
	padding: 2em 1em;
	margin: 0 auto;
	text-align: center;
}
form {
	text-align: left;
}
label {
	color: #ffc7b4;
}
input {
	margin-left: 0.5em;
	max-width: 20em;
	border-radius: 0.25em;
	border: 1px solid #1d1d1d;
	padding: 0 0.25em;
}
legend {
	padding: 1em 0 0 0;
	margin: 0;
	font-weight: 500;
	font-size: var(--text-lg);
	color: #1d1d1d;
}
.txtf {
	margin-top: 1em;
}
form div {
	padding: 0.5em 0;
}
textarea {
	display: block;
	margin: 0.5em auto 0 auto;
	width: 20em;
	height: 10em;
	border-radius: 0.25em;
	border: 1px solid #1d1d1d;
	padding: 2px 4px;
}
button {
	background-color: #ffc7b4;
	border: 1px solid #1e3d3b;
	padding: .25em 4em;
	cursor: pointer;
	box-shadow: 0 .25em .25em rgba(0,0,0,.25);
}
button:hover {
	background-color: #1d1d1d;
	color: #ffc7b4;
}
button:active {
	background-color: black;
	box-shadow: none;
}


/* Footer */
footer {
	color: #275e5a;
	background-color: #1e3d3b;
}
footer p {
	padding: 1em 0;
	font-weight: 500;
	font-size: var(--text-sm);
}


/*** Small Screen Goodness ***/
@media screen and (max-width: 600px)  {
	.mobilebreak {display: block;}
	.mobilespace {
		display: block;
		padding-top: 1em;
	}
	h1 {
		padding-bottom: 11em;
	}
	.slideshow {
		background-size: 50%;
	}
	@keyframes slideshow {
		0% {background: url(images/hero_1.png);background-repeat: no-repeat;background-size: 85%;background-position: center 85%;}
		25% {background: url(images/hero_2.png);background-repeat: no-repeat;background-size: 85%;background-position: center 85%;}
		50% {background: url(images/hero_3.png);background-repeat: no-repeat;background-size: 85%;background-position: center 85%;}
		75% {background: url(images/hero_4.png);background-repeat: no-repeat;background-size: 85%;background-position: center 85%;}
		100% {background: url(images/hero_5.png);background-repeat: no-repeat;background-size: 85%;background-position: center 85%;}
	}
	.bicon {
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.binfo {
		grid-column-start: 5;
		grid-column-end: 13;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.binfo p {
		padding-bottom: 1em;
	}
	.bio p {
		text-align: left;
	}
	.iconlink {
		padding: 0 1em;
	}
	.iconlink ul {
		grid-column-start: 5;
		grid-column-end: 13;
		grid-row-start: 2;
		grid-row-end: 3;
		padding: 1em 0 0 0;
		border-top: 1px solid rgba(255,199,180,0.1);
		border-left: none;
	}

}
@media screen and (min-width: 600px)  {
	h1 {font-size: 2.5em;}
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.85); 
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: 3px solid white;
}
.modal-content {
    animation: zoom 0.2s;
}
@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
	color: #1e3d3b;
    text-decoration: none;
    cursor: pointer;
}
